@model MuseumWebApp.Models.TourSchedule
@{
    ViewData["Title"] = "Удалить расписание";
}
<h1>Удалить расписание</h1>
<h3>Вы уверены, что хотите удалить это расписание?</h3>
<dl class="row">
    <dt class="col-sm-2">Экскурсия</dt>
    <dd class="col-sm-10">@Model.Tour?.Title</dd>
    <dt class="col-sm-2">Гид</dt>
    <dd class="col-sm-10">@Model.Guide?.FullName</dd>
    <dt class="col-sm-2">Время начала</dt>
    <dd class="col-sm-10">@Model.StartTime</dd>
</dl>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Удалить" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
