@model MuseumWebApp.Models.Ticket
@{
    ViewData["Title"] = "Продать билет";
}
<h1>Продать билет</h1>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="TourScheduleId">Расписание экскурсии</label>
        <select asp-for="TourScheduleId" asp-items="ViewBag.TourScheduleId" class="form-control">
            <option value="">— Выберите —</option>
        </select>
    </div>
    <div class="form-group mb-3">
        <label asp-for="VisitorId">Посетитель</label>
        <select asp-for="VisitorId" asp-items="ViewBag.VisitorId" class="form-control">
            <option value="">— Выберите посетителя —</option>
        </select>
    </div>
    <div class="form-group form-check mb-3">
        <input asp-for="IsPaid" class="form-check-input" />
        <label asp-for="IsPaid" class="form-check-label">Оплачен</label>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </div>
</form>
