@model MuseumWebApp.Models.Ticket
@{
    ViewData["Title"] = "Удалить билет";
}
<h1>Удалить билет</h1>
<h3>Вы уверены, что хотите удалить этот билет?</h3>
<dl class="row">
    <dt class="col-sm-2">Экскурсия</dt>
    <dd class="col-sm-10">@Model.TourSchedule?.Tour?.Title</dd>
    <dt class="col-sm-2">Посетитель</dt>
    <dd class="col-sm-10">@Model.VisitorName</dd>
    <dt class="col-sm-2">Дата продажи</dt>
    <dd class="col-sm-10">@Model.SaleDate</dd>
    <dt class="col-sm-2">Оплачен</dt>
    <dd class="col-sm-10">@(Model.IsPaid ? "Да" : "Нет")</dd>
</dl>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Удалить" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
